@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    margin: 40px;
}

header >  h1{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

.tasks{
    width: 28rem;
    margin: auto;
}


#task-input{
    display: flex;
    margin: 0 auto;
    width: 25rem;
    height: 2rem;
    padding: 5px;
    padding-left: 20px;
    font-family: 'Shadowa Into Light', cursive;
    border: 2px solid rgb(18, 16, 16);
    border-radius: 20px;
}

#buttonAdd{
    margin-top: 20px;
    display: flex;
    float: right;
    border-style: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 8rem;
    height: 1.6rem;
    
    justify-content: center;
}

#buttonAdd:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button:active{
        transform: scale(95%);

}

#buttonRemove-all{
    margin-top: 20px;
    border-style: none;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    color: rgb(14, 14, 14);
    border-radius: 15px;
    width: 8rem;
    height: 1.6rem;
    
    justify-content: center;
}

#buttonRemove-all:hover{
    background-color: black;
    color: white;
}

#frase-random{
    margin-top: 220px;
}

#frase-random > p{
    text-align: center;
    font-family: 'Shadowa Into Light', cursive;
    margin-bottom: 20px;
}

#frase-button{
    display: flex;
    margin: auto;
    width: 8rem;
    height: 1.6rem;
    border-radius: 20px;
}

